<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bbs">

	<sql id="whereList">
		<if test="search=='all'">
			INSTR(subject,#{searchKey}) &gt; 0 OR INSTR(content,#{searchKey}) &gt; 0
		</if>
		<if test="search=='content'">
			INSTR(content,#{searchKey}) &gt; 0
		</if>
		<if test="search=='subject'">
			INSTR(subject,#{searchKey}) &gt; 0
		</if>
	</sql>
	
	<select id="selectList" parameterType="map" resultType="com.pj.bbs.Board">
		SELECT num, subject, created, hitCount, userId
		FROM bbs
		<where>
			<include refid="whereList"/>
		</where>
		LIMIT #{offset},#{rows}
	</select>
	
	<select id="selectBoard" parameterType="Integer" resultType="com.pj.bbs.Board">
		SELECT num, subject, content, created, hitCount, userId
		FROM bbs
		WHERE num = #{num}
	</select>
	
	<select id="selectDataCount" parameterType="map" resultType="Integer">
		SELECT IFNULL(COUNT(*),0) FROM bbs 
		<where>
			<if test="searchKey!=null and searchKey!='' ">
				<include refid="whereList"/>
			</if>
		</where>    	
	</select>
	
	<select id="selectReadBoard" parameterType="Integer" resultType="com.pj.bbs.Board">
		SELECT num, subject, content, created, hitCount, userId FROM bbs WHERE num = #{num}
	</select>
	
	<select id="selectPreReadBoard" parameterType="Map" resultType="com.pj.bbs.Board">
		SELECT num, subject 
		FROM bbs
		<where>
			<if test="searchKey!=null and searchKey!='' ">
				<include refid="whereList"/>
			</if>
			AND (num &gt; #{num})
		</where>
		ORDER BY num ASC
		LIMIT 1
	</select>
	
	<select id="selectNextReadBoard" parameterType="Map" resultType="com.pj.bbs.Board">
		SELECT num, subject 
		FROM bbs
		<where>
			<if test="searchKey!=null and searchKey!='' ">
				<include refid="whereList"/>
			</if>
			AND (num &lt; #{num})
		</where>
		ORDER BY num DESC
		LIMIT 1
	</select>
	
	<insert id="insertBoard" parameterType="com.pj.bbs.Board">
		INSERT INTO bbs(content,subject,created,userId,hitCount) VALUES(#{content},#{subject},NOW(),#{userId},0)
	</insert>
	
	<update id="updateBoard" parameterType="com.pj.bbs.Board">
		UPDATE bbs SET subject = #{subject}, content = #{content} WHERE num = #{num}
	</update>
	
	<update id="updateHitCount" parameterType="Integer">
		UPDATE bbs SET hitCount = hitCount + 1 WHERE num = #{num}
	</update>
	
	<delete id="deleteBoard" parameterType="com.pj.bbs.Board">
		DELETE FROM bbs WHERE num = #{num} AND userId = #{userId}
	</delete>
	
</mapper>
